@import "tailwindcss";

:root {
	--botflix-color: #ec2a1c;
	--botflix-color-light: #ff4d42;
	--botflix-color-dark: #9f00003b;
	--botflix-color-opacity-10: rgba(236, 42, 28, 0.1);
	--botflix-color-opacity-20: rgba(236, 42, 28, 0.2);

	--background-primary: #1a1a1a;
	--background-secondary: #242424;
	--rating-green: #21d07a;
	--rating-yellow: #d2d531;
	--rating-red: #db2360;
	--overlay-dark: rgba(26, 26, 26, 0.95);
	--text-primary: #ffffff;
	--text-secondary: #9ca3af;
	--border-color: rgba(255, 255, 255, 0.1);

	--header-height: 64px;
	--header-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

	--search-height: 3.5rem;
	--search-border-radius: 9999px;
	--search-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
	--search-focus-shadow: 0 0 10px 4px rgba(208, 86, 33, 0.1);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	color-scheme: dark;
	background-color: var(--background-primary);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	color: var(--text-primary);
}
